.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  :first-child {
    margin-right: 25px;
  }

  &_description {
    font-size: 14px;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
}


