.container {
  padding: 0 25px 0 25px;
}

.heading {
  //margin: 0 0 20px;
  &_action {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &_title {
    font-size: 24px;
    font-weight: 400;
  }

  & span {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 8px;
    color: rgba(0, 0, 0, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    padding: 2px 20px;
  }

  &_steps {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__step {
      width: 50px;
      height: 10px;
      background-color: rgba(128, 128, 128, 0.501);
    }
  }
}

.steps {
  display: flex;
  gap: 5px;
  padding: 10px 0 10px 0;

  &__step {
    width: 50px;
    height: 15px;
    border: 1px solid rgba(128, 128, 128, 0.501);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  &_active {
    background-color: rgba(30, 30, 30, 0.4);
  }

  &_passed {
    background-color: rgba(30, 30, 30, 0.8);
  }
}

.content {
  display: flex;
  flex-direction: column;
  //gap: 20px;

  &_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  &_options {
    padding: 12px 0 12px 0;

    :not(:last-child) {
      padding-bottom: 10px;
    }

    & input {
      margin-right: 10px;
      cursor: pointer;
      color: red;
      background-color: red;
    }

    &__textarea {
      margin: 12px 0 12px 0;
    }
  }
}
